.editor-container {
    height: auto;
    padding: 10px 20px;
}

.editor-container .tiptap {
    min-height: 100%;
}

.tiptap:focus {
    outline: none;
}


.tiptap p.is-empty::before {
    opacity: 0.2;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

// task modules
@import url("./editor-styles/table.scss");
@import url("./editor-styles/list.scss");
