.editor-container {
    height: auto;
    padding: 10px 20px;
}

.editor-container .tiptap {
    min-height: 100%;
}

.tiptap:focus {
    outline: none;
}

.tiptap {
    code {
    }
}

.dark .tiptap {
    code {
        background-color: rgba(45, 45, 45, 0.47) !important;
    }
}

.dark .toolbar {
    --font-color: #e6e6e6;
}

.toolbar, .svg-active-able {
    --font-color: #4d4d4d;

    svg {
        color: var(--font-color);
        font-size: 20px;

        &:not(.cursor-not-allowed):hover {
            cursor: pointer;
        }
    }

    .active, svg.active, .active svg {
        color: hsl(var(--primary));
    }
}
