.editor-container {
    height: auto;
    padding: 10px 20px;
}

.editor-container .tiptap {
    min-height: 100%;
}

.tiptap {
    color: rgba(0, 0, 0, .85);

    &:focus {
        outline: none;
    }
}

.dark .tiptap {
    color: #dedede;
}


.tiptap p.is-empty::before {
    opacity: 0.2;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
// inline code
.tiptap code.inline-code {
    background-color: rgba(167, 167, 167, 0.25);
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
}
.dark .tiptap code.inline-code {
    background-color: rgba(127, 127, 127, 0.4);
}


// task modules
@import url("./editor-styles/table.scss");
@import url("./editor-styles/list.scss");
@import url("./editor-styles/code-block.scss");
