pre.code-block {
    padding: 10px;
    border-radius: 4px;
    background-color: #fafafa;
}

.dark pre.code-block {
    background-color: rgba(46, 46, 46, 0.68);
}

// line numbers
pre.code-block {
    .line-number {
        position: absolute;
        text-align: right;
        user-select: none;
        width: 0;
        left: 0;

        &.highlighted {
            z-index: 0;
            width: 100%;
        }
    }
}

pre.code-block[data-show-line-numbers="true"] {
    padding-left: 42px;

    .line-number::before {
        content: attr(line);
        width: 34px;
        position: absolute;
        left: 0;
    }
}


pre.code-block {
    .line-number {
        color: rgba(0, 0, 0, 0.15);
    }
}

.dark pre.code-block {
    .line-number {
        color: rgba(255, 255, 255, 0.22);
    }
}

// line highlight
pre.code-block {
    .line-number.highlighted {
        width: 100%;
        pointer-events: none;
        z-index: 0;
    }
}

pre.code-block {
    .line-number.highlighted {
        background-color: rgba(24, 158, 255, 0.09);
    }
}

.dark pre.code-block {
    .line-number.highlighted {
        background-color: rgba(40, 148, 255, 0.14);
    }
}

// code block toolbar
pre.code-block {
    position: relative;

    .code-block-toolbar {
        display: none;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover .code-block-toolbar {
        display: flex;
    }
}

pre.code-block .code-block-toolbar {
    button {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: #606060;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    }
}

.dark pre.code-block .code-block-toolbar {
    button {
        color: #f4f4f4;
        background-color: #5b5b5b;
    }
}

pre.code-block .code-block-toolbar {
    z-index: 1;

    button .svg-icon-copied {
        color: hsl(var(--primary))
    }
}


