.code-block.show-line-numbers {
    margin-left: 34px;
}

.ProseMirror-widget.line-number {
    position: absolute;
    width: 0;
    text-align: right;
    left: 0;
    user-select: none;
}
.code-block.show-line-numbers {
    .line-number {
        left: -16px;
    }
}

.ProseMirror-widget.line-number::before {
    content: attr(line);
    position: absolute;
    width: 34px;
}
